/* GENERAL */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 14px;
}

/*STYLE*/

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
/* Menu */
.list-inline li {
  display: inline-block;
  padding: 0 10px;
}
.list-inline li:first-child {
  padding-left: 0;
}
.list-inline li:last-child {
  padding-right: 0;
}

/* BUTTONS*/
.btn {
  display: inline-block;
  min-width: 100px;
  line-height: 23px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}

.struttura {
  background: #7cbb02;
  border: none;
}

/* HEADER */
.main-header {
  height: 560px;
  background: #0c325a;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}

.nav {
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
}

.header-nav .header-logo img {
  vertical-align: middle;
}

.nav li a {
  text-decoration: none;
  color: #fff;
}

.nav .nav-l {
  width: 10%;
}

.nav .nav-c {
  width: 50%;
}

.nav .nav-r {
  width: 40%;
  text-align: center;
}

.width{
  width: 50%;
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  height: 480px;
}
.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  margin-bottom: 30px;
  font-size: 56px;
  color: #fff;
}

/* MAIN */

/* FOOTER */
